<!DOCTYPE html>
<html>
  <head>
    <title>Create Bookmark</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/bookmarks">Bookmarks List</a></h3>
      <h1>Create New Bookmark</h1>
      <form action="/bookmarks/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>URL</td>
              <td><input type="text" name="url" /></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><input type="text" name="desc" /></td>
            </tr>
            <tr>
              <td>Updated at</td>
              <td><input type="date" name="updated_at" /></td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" value="Save" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
